<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <h2>Agrega un producto</h2>
        <form>
            <label>Titulo</label> <br>
            <input type="text" name="title" id="title" placeholder="Texto por defecto"> <br>

            <label>Descripcion</label> <br>
            <input type="text" name="description" id="description" placeholder="Texto por defecto"> <br>

            <label>Precio</label> <br>
            <input type="number" name="price" id="price" placeholder="Texto por defecto"> <br>

            <label>Imagen</label> <br>
            <input type="text" name="thumbnail" id="thumbnail" placeholder="Texto por defecto"> <br>

            <label>Code</label> <br>
            <input type="number" name="code" id="code" placeholder="Texto por defecto"> <br>

            <label>Stock</label> <br>
            <input type="number" name="stock" id="stock" placeholder="Texto por defecto"> <br>

            <label>Categoría</label> <br>
            <input type="text" name="category" id="category" placeholder="Texto por defecto"> <br>

            <label>Status</label> <br>
            <input type="checkbox" name="status" id="status" checked> <br>

            <input type="submit" id="submitProduct">
        </form>

        <h2>Elimine un producto</h2>
        <form>
            <label>Ingrese el ID del producto</label> <br>
            <input type="text" name="title" id="titleDelete"> <br><br>

            <input type="submit" id="deleteProduct">
        </form>

        <h2>Todos los Productos</h2>

        <div id="container"></div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>